#node_modules
/hamal-dashboard-ts/node_modules

# System Files
.DS_Store


#IDE VSCode Files
/hamal-dashboard-ts/.vscode/*
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*
