#node_modules
/hamal-dashboard-ts/node_modules

# System Files
.DS_Store

# Python Virtual Management Files
.venv
.venv/*

# Build Files
build
build/*

# UMI Files
.umi
.umi/*

#IDE VSCode Files
/hamal-dashboard-ts/.vscode/*
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*
